RUSTSHOP_NAME=""

RUSTSHOP_DEFAULT_AWS_REGION="us-east-1"

# RUSTSHOP_ROOT_AWS_REGION=""
# RUSTSHOP_ROOT_AWS_ACCOUNT_ID=""
RUSTSHOP_ROOT_AWS_PROFILE="$RUSTSHOP_NAME-root"

# RUSTSHOP_PROD_AWS_REGION=""
# RUSTSHOP_PROD_AWS_ACCOUNT_ID=""
RUSTSHOP_PROD_AWS_PROFILE="${RUSTSHOP_NAME}-prod"

# RUSTSHOP_DEV_AWS_REGION=""
# RUSTSHOP_DEV_AWS_ACCOUNT_ID=""
RUSTSHOP_DEV_AWS_PROFILE="${RUSTSHOP_NAME}-dev"
